.rs-r-container {
    width: 100%;
    padding: 2% 3%;
    text-align: center;
}

.rs-r-header {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #363636;
}

.rs-r-header-span {
    color: #f3b53b;
}

.rs-r-content {
    font-size: 18px;
    font-weight: 500;
}

.rs-r-name {
    margin-bottom: 25px;
    padding-left: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #363636;
}

.rs-rc-container {
    padding: 20px;
}

.rs-r-carousel-img {
    max-width: 250px;
    height: 150px;
}

.rs-r-carousel-text {
    padding: 30px 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: 500;
    text-align: left;
    color: white;
    background-color: #0065ff;
}

.rs-r-card-c {
    padding: 0 10px;
}

.rs-r-card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rs-r-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.rs-r-btn {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.rs-r-btn:hover {
    border: 1px solid white;
    background-color: #095aa5;
}

.rs-r-link {
    display: inline-block;
    width: 100%;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 700;
    color: #363636;
    text-decoration: none;
}

.rs-r-link:hover {
    color: white;
}